<% provide(:title, "login") %>
<div class="login-wrapper">
  <h1>Log in</h1>
  <%= form_with scope: :user, url: sessions_path, local: true, class: "login-form" do |f| %>
    <%= f.email_field :email, placeholder: "email address", required: true, class: "form-control" %>
    <%= f.password_field :password, placeholder: "password", required: true, class: "form-control" %>
    <%= f.submit "送信", class: "btn btn-primary" %>
  <% end %>
</div>