<% provide(:title, "my page") %>
<h1>マイページ</h1>

<div class="profile-wrapper">
  <table>
    <tr>
      <th>お名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
  </table>
  <% @blogs.each do |blog| %>
    <%= render partial: "blogs/blog", locals: {blog: blog} %>
  <% end %>
</div>